!!!

%html
  %head
    /[if lt IE 9]
      %script(src="//html5shim.googlecode.com/svn/trunk/html5.js")
    %link{ :type => 'text/css', :href => 'stylesheets/layout.css', :rel=>'stylesheet' }
    %link{ :type => 'text/css', :href => 'http://fonts.googleapis.com/css?family=Open+Sans:400,300,700', :rel => 'stylesheet' }
    %script{:src => '//ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js',
      :type => 'text/javascript' }
    %script{:type => 'text/javascript',
      :src => 'javascripts/mazery.js'}

    %title mazery by Steve Jackson

  %body
    %header
      .primary_layout
        %span.bigger
          %a{ :href => '/', :alt => "mazery" } mazery
        %span.smaller
          %a{ :href => 'http://sjackson.net' } random maze generation visualization

    %hr.space

    %content
      .primary_layout
        %a.button#generate Generate
        %label{ :for => 'fps' }Max FPS
        %input#fps{ :name => 'fps', :type => 'text', :value => '60', :size => 2, :maxlength => 2 }
        %label{ :for => 'cellsize' }Cell Size
        %input#cellsize{ :name => 'cellsize', :type => 'text', :value => '35', :size => 2, :maxlength => 2 }
        %a.left-buffer{ :href => 'https://github.com/stevejackson/mazery', :alt => "Open source on GitHub" }
          Open source on GitHub.
        %span.left-buffer
          Written by
          %a{ :href => 'http://www.sjackson.net' }
            Steve Jackson.
        %hr.space
        %canvas#mazecanvas{ :width => 900, :height => 900 }
          Maze Canvas.
